
@model SalonTracker.Models.stylists

@using SalonTracker.Models;


<h2>Stylist Details</h2>
<hr />
<h3>@Model.stylistName</h3>



@if (@ViewBag.Clients.Count == 0)
{
  <p>No Current Clients </p>
}


@foreach (clients client in ViewBag.Clients)
{
  <p>@Html.ActionLink($"{@client.clientName}", "Details", "clients", new {id = client.clientsId}) </p>
}


<h2>@Html.ActionLink("Add new Client", "Create", "clients") <h2>

<h2>@Html.ActionLink("Back to Stylists", "Index")</h2>